.movies__result {
    padding: 40px 20px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.search__results--heading {
    font-size: 28px;
    font-weight: 600;
    padding: 20px 0;
}
.results {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}
.card__wrapper {
    width: 23%;
}
@media (max-width:1024px) {
    .card__wrapper {
        width: 30%;
    }
}
@media (max-width:768px) {
    .card__wrapper {
        width: 45%;
    }
}
@media (max-width:568px) {
    .card__wrapper {
        width: 90%;
    }
}
