.row__header {
    display: flex;
    flex-direction: column ;
}
.header {
    padding: 24px 16px;
}
.header__image--wrapper {
    margin-top: 24px;
}
.header__title {
    font-size: 56px;
    font-weight: 600;
    max-width: 900px;
    line-height: 1.15;
    text-align: center;
    color: #ed7a07;
    margin: 0 0 30px;
}
.header__subtitle {
    font-size: 40px;
    font-weight: 500;
    max-width: 740px;
    line-height: 1.10;
    text-align: center;
    margin: 0 0 40px;
    text-transform: uppercase;
}
.brand-color {
    color: #ed7a07;
}
.bold {
    font-weight: 700;
}
.header__img {
    width: 100%;
}
.search__wrapper {
    max-width: 800px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search__btn {
    background: none;
    border: none;
    font-size: 30px; 
    display: flex;
    align-items: center;
    cursor: pointer;
}
.icon {
  padding: 4px;
  position: absolute;
  right: 16px;
}
.icon:hover {
    color: #ed7a07  ;
}
.icon:active{
    color:green;
}